body {
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}

.denemebuyuk {
    font-size: xx-large;
    padding: 50px;
    background-color: chartreuse;
}

.loginAnaYazi {
    font-size: 50px;
    text-align: center;
    color: brown;
    padding: 20px;
    background-color: aquamarine;
}

.layoutYazi {
    font-size: 70px;
    color: #fff;
    text-align: center;
    padding: 20;
    background-color: #000;
    border: 5px solid yellowgreen;
}

.kenarlik {
    margin: 5px 0 5px 0;
    border: 5px solid #fff;
    background: yellowgreen;
}

.navbar-default {
    height: 70px;
    background-image: unset;
    background-color: #1FA67A;
    border-color: aliceblue;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.open>a {
    color: #fff;
}

.navbar>.container-fluid {
    height: 100%;
    padding-top: 10px;
}

.container {
    width: 96%;
}

.cont90 {
    width: 90%;
}

.navbar {
    margin-bottom: 0;
}

.loginPanel {
    width: 370px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.img100 {
    width: 100%;
    height: 100px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 49%;
}

.panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.panel-body>p>b {
    color: #919191;
}

.panel-heading>b {
    color: #335D5D;
}

.carousel-inner {
    height: 47%;
}

.carousel {
    box-shadow: -1px 1px 10px 1px seagreen;
    -webkit-box-shadow: -1px 1px 10px 1px seagreen;
}

.navbar-brand {
    font-family: monospace;
}

.nav>li>ul,
.nav>li {
    font-family: 'Helvetica';
}

.kutu3 {
    width: 95%;
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.marginT20 {
    margin-top: 20px;
}

.kutu3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.kutu3>p>.fa-globe {
    color: dodgerblue;
}

.kutu3>p>.fa-bell-o {
    color: #5DD442;
}

.kutu3>p>.fa-star {
    color: gold;
}

.kutu3>p>.fa-heartbeat {
    color: red;
}

.kutu3>a {
    color: #003;
    text-decoration: none;
}

.kutu3>a:hover {
    color: blue;
}

.ayrinti-baslik {
    background-color: ghostwhite;
    text-align: center;
    padding: 10px;
    font-family: initial;
    box-shadow: 0 0 5px 0px darkgrey;
}

.wfull {
    width: 100%;
}

.yorumlar-baslik {
    padding: 10px 10px 10 10%;
    font-family: monospace, Arial, sans-serif;
    color: #15de5e;
}

.yorumlar-genel {
    border: 1px solid whitesmoke;
    margin-top: 10px;
    box-shadow: 0 0 1px black;
    padding-bottom: 400px;
    margin-bottom: 200px;
}

.table {
    background-color: ivory;
}

.table-bordered {
    font-size: 1em;
    box-shadow: 0 0 3px cadetblue;
    -webkit-box-shadow: 0 0 1px cadetblue;
}

.jumbotron {
    background-color: khaki;
}

.api-kod {
    font-family: monospace;
    color: darkviolet;
}

.page-header {
    background-color: darkorange;
    padding: 10px;
    margin: 40px 0 20px;
}