<div class="container">

    <div class="row" style="background-color:#7f5">
        <div class="col-sm-6">col-sm-6</div>
        <div class="col-sm-6">col-sm-6</div>
        <div class="col-sm-6">col-sm-6</div>
    </div>
    <div class="row" style="background-color:#875">
        <div class="col-xs-6">col-xs-6</div>
        <div class="col-xs-6">col-xs-6</div>
        <div class="col-xs-6">col-xs-6</div>
    </div>
    <div class="row" style="background-color:#9a5">
        <div class="col-md-6">Alan Medium 1 col-md-6</div>
        <div class="col-md-6">Alan Medium 2 col-md-6</div>
        <div class="col-md-6">Alan Medium 2 col-md-6</div>
    </div>
    <div class="row ">
        <% for(var i = 0 ; i< kisiler.length;i++){ %>
            <div class="col-md-3  col-sm-6 col-xs-3 kenarlik">
                <%=kisiler[i]%>
            </div>

            <%}%>

    </div>

</div>